NET "data_temp[7]" LOC = M7;
NET "data_temp[6]" LOC = N7;
NET "data_temp[5]" LOC = R7;
NET "data_temp[4]" LOC = AD6;
NET "clk" LOC = C14;
NET "rst" LOC = Y6;
NET "rxd" LOC = AE5;
NET "txd" LOC = AF4;

NET "rst" IOSTANDARD = LVCMOS25;

# PlanAhead Generated IO constraints 

NET "rxd" IOSTANDARD = LVCMOS25;
